@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ArticlesOverview>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
} 

<div class="col-lg-12 col-md-12 col-xs-12">
    <h2> @Umbraco.Field("articlesTitle")</h2>
    <p>@Umbraco.Field("articlesBodyText")</p>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <h3 class="text-center"> All the news!</h3>
            @Umbraco.RenderMacro("articlesChildren")
        </div>
    </div>
</div>
