@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ArticleItem>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}
<div class="container">
    <div class="col-lg-12 col-md-12 col-xs-12">
        <h2>@Umbraco.Field("articlesTitle")</h2>

        <p>@Umbraco.Field("articlesContent")</p>
    </div>
</div>